<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,240},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,480},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,720},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,960},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,1200},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,1200},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,1440},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,1440},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{0,1680},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,240}</string>
                <key>spriteSourceSize</key>
                <string>{64,240}</string>
                <key>textureRect</key>
                <string>{{64,1680},{64,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Normal_Attack.png</string>
            <key>size</key>
            <string>{128,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a365824c1245e4ce4a7aa2121fe425:e08beac390ab51872dbc08d1c578a1f4:7ad94e643b8b896ac190d560da883367$</string>
            <key>textureFileName</key>
            <string>Normal_Attack.png</string>
        </dict>
    </dict>
</plist>
