<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FAce (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,420},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,560},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,140},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{70,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FAce (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,140}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{140,280},{70,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FAce.png</string>
            <key>size</key>
            <string>{210,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca03324322f99e27de1a5829bfdac23e:6708e31086a3ad2dd19a8886bd2a97ec:f70cddd498118e85077a1e2f1790ebe9$</string>
            <key>textureFileName</key>
            <string>FAce.png</string>
        </dict>
    </dict>
</plist>
