<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{103,93},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{50,92}</string>
                <key>spriteSourceSize</key>
                <string>{54,92}</string>
                <key>textureRect</key>
                <string>{{1,95},{50,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{103,93},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{52,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{55,1},{60,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{48,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{187,153},{48,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{55,1},{60,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{167,53},{48,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{58,90}</string>
                <key>textureRect</key>
                <string>{{95,189},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{62,90}</string>
                <key>textureRect</key>
                <string>{{167,1},{50,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{58,90}</string>
                <key>textureRect</key>
                <string>{{95,189},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{53,95},{48,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,92}</string>
                <key>spriteSourceSize</key>
                <string>{54,94}</string>
                <key>textureRect</key>
                <string>{{1,189},{50,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{163,103},{48,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,92}</string>
                <key>spriteSourceSize</key>
                <string>{54,94}</string>
                <key>textureRect</key>
                <string>{{1,189},{50,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,94}</string>
                <key>textureRect</key>
                <string>{{117,1},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>D:/BrawlStars/Resources/Fei/Fei.png</string>
            <key>size</key>
            <string>{256,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7f6da646133a0a387f090747f32034:6ce5226920e988da665d6448036b9594:eba4c3e0b93036d1adb0f1c20abf029f$</string>
            <key>textureFileName</key>
            <string>D:/BrawlStars/Resources/Fei/Fei.png</string>
        </dict>
    </dict>
</plist>
