<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>J_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,200},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,300},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,400},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,500},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,600},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,700},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,800},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,900},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,1000},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,1200},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,1300},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{0,1400},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{135,100}</string>
                <key>textureRect</key>
                <string>{{0,1500},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Normal_Attack.png</string>
            <key>size</key>
            <string>{136,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2d40882b3335c4e98d5a441940e7b14:891ef64bd1add679bd52c1de9f488791:7ad94e643b8b896ac190d560da883367$</string>
            <key>textureFileName</key>
            <string>Normal_Attack.png</string>
        </dict>
    </dict>
</plist>
