<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,288},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,480},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lf3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,576},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lf4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,672},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ll1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,768},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ll2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,864},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ll3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,960},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ll4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,1056},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,1152},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,1248},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,1344},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{0,1440},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>L.png</string>
            <key>size</key>
            <string>{50,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07428b91aa1afe03ebc96b3686491b41:0b537c12bbe71fae562beace91ed1fb5:d6861d90f9e34e131d295c9e1edae69b$</string>
            <key>textureFileName</key>
            <string>L.png</string>
        </dict>
    </dict>
</plist>
